# Server Configuration
GATEWAY_PORT=3000
GATEWAY_HOST=localhost  # Use "0.0.0.0" to expose to the web

# Peer Configuration
BOOTNODE_MULTIADDR=/ip4/127.0.0.1/tcp/4001/p2p/12D3KooWSYPe8ntNbUhX5BbkD1ZfFkEwoVBeUtSamJZxKiD8yxY8

# DHT Configuration
DHT_PROTOCOL=/ddb1e4f77487bc0e05aeb2d3605bd20dfcfd3b6a42cafb718bacbeb0c7a7a60f/kad

# Blockstore Configuration
BLOCKSTORE_PATH=./blocks  # Path where IPFS blocks will be stored